<?xml version="1.0" encoding="utf-8"?>
<!-- 04.08.2026 Accelerated Test Mode cursor by Me4Hik START - accelerated manifest overlay -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup">
        <receiver
            android:name=".AcceleratedCommandReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.me4hik.praktika.accelerated.ACCELERATED_COMMAND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
<!-- 04.08.2026 Accelerated Test Mode cursor by Me4Hik END -->
